
@media (min-width: 100px)
{
    .card__grid{
        grid-template-columns: repeat(1, auto);
    }
    .icon__fav {
        visibility: visible;
    }
    
}
@media (min-width: 700px)
{
    .card__grid{
        grid-template-columns: repeat(2, auto);
    }
    .icon__fav {
        visibility: hidden;
    }
}

@media (min-width: 1000px)
{
    .card__grid{
        grid-template-columns: repeat(3, auto);
    }
}