:root{
    --input: #8EC5FC;
}
.tamanho__grid{
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    width: 100%;
    justify-content: center;
}
.category__title{
    list-style: none;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
}
.category__checkbox {
    width: 35px;
    height: 35px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: 200ms;
}
.category__checkbox + label {
    display: flex;
    position: absolute;
    margin-top: -33px;
    margin-left: 8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}
.tamanho__grid2{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    
    justify-content: center;
}
.desativado{
    border-color: #e7e4e4;
}
.desativado + label{
    color: #e7e4e4;
}
.Alerta{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.09);
    width: calc(14rem - 10px);
    margin-left: 10px;
    height: 2rem;
    border-radius: 2px;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 500;
}
.Danger{
    background-color: #ec140d67;
    border: 1px solid #b1050567; 
    color:#7e1b1b;
}
.Sucess{
    background-color: #9bff9b67;
    border: 1px solid #88db8867;
    color:#1b7e34;
}