*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
:root{
    --cor-Titulo: #1b2021;
    --cor-preço-antigo: #A9D9D0;
    --cor-promoção: #038C7F;
    --cor-fundo: #f5f5f5;
    --cor-card: #FFFFFF;
    --cor--compras: rgba(255, 255, 255, 0.5);
    --cor-icon: #535353;
}
.fundo{
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo);
    min-height: 100vh;
    height: 100%;
}
.azul{
   display: grid;
   text-align: center;
   width: 100%;
   grid-template-columns: repeat(2, auto);
   justify-items: center;
  
}
.carrinho__grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    gap: 2px;
   
}
.card__grid{
    padding-top: 5.5rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, auto);
    width: 100%;
    justify-items: center; 
}
.card__carrinho{
    position: relative;
    display: flex;
    background-color: var(--cor-card);
    width: 100%;
    max-width: 40rem;
    height: 11rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: start;
}

.grid__1{   
    display: flex;
    height: 120px;
    position: relative;
}
.carrinho__img{
    width: 120px;
    height: 120px;
    border-radius: 5px;
    filter:brightness(95%);
    transition: 200ms;
    margin: 5px
}
.carrinho__titulo{
    margin-top: 5px;
    color: var(--cor-Titulo);
    font-size: 1.1rem;
    line-height: 1.1rem;
    width: 100%;
    max-width: 20rem;
}
.carrinho__itens{
    margin-top: 15px;
    bottom: 20px;
    line-height: 1.1rem;
}
.opção, .opção2{
    font-weight: 700;
    margin-right: 7px;
    font-size: 0.95rem;
}
.preço{ font-size: 1rem;}
.close__icon{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-Titulo);
    transition: 200ms;
}
.close__icon:hover{   color: var(--cor-icon)}
.grid__reparticao{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
}
.grid__reparticao > div{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: calc(100% - 10px);
    border-radius: 50px;
}
.grid__quantidades{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.grid__quantidades > div{
    align-items: center;
    display: flex;
}
.grid__quantidades > div > p{
    font-weight: 600;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
}
.grid__quantidades > div > form > button{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 200ms;
    border: none;
    background-color: transparent;
}
.grid__quantidades > div > input{
    width: 3rem;
    text-align: center;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 5px;
    height: 1.2rem;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.grid__quantidades > div > input:focus{
    outline: none;
}
.grid__quantidades > p {
    font-size: 1.1rem;
    font-weight: 600;
}
[data-position="1"]{grid-area: 1 / 1 / span 1 / span 3;}
[data-position="2"]{grid-area: 2 / 1 / span 1 / span 3;}
[data-position="3"]{grid-area: 3 / 1 / span 1 / span 3; align-self: start;}

.card__compras{
    display: grid;
    width: calc(100%);
    max-width: 40rem;
    height: 100px;
    grid-template-columns: repeat(1, auto);
    justify-items: center;
    margin-top: 5.5rem;
    border-radius: 5px;
    background-color: var(--cor--compras);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.amarelo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: start;
}
.compras__subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 4rem;
    width: calc(100% - 4rem);
    font-weight: 700;
    font-size: 18px;
}
.subtotal__valor{   color: rgba(0, 0, 0, 0.7);}
.compras__produto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 4rem;
    width: calc(100% - 4rem);
    font-weight: 700;
    font-size: 17px;
}
.produto__nome{
    width: 13rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: start;
}
.produto__valor{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.compras__btn > button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 2.3rem;
    border-radius: 50px;
    border: none;
    color: var(--cor-fundo);
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: 200ms;
}
[data-formCompra] {
    text-align: center;
    width: calc(100% - 4rem);
}


@media (min-width: 100px)
{
    .azul{
        grid-template-columns: repeat(1, auto);
    }
    .card__compras{
        display: grid;
        width: calc(100%);
        max-width: 40rem;
        height: 100%;
    }
}
@media (min-width: 965px)
{
    .azul{
        grid-template-columns: repeat(2, auto);
    }
    .card__compras{
        display: grid;
        width: calc(100%);
        max-width: 25rem;
        height: 100%;
    }
}
